.container {
  margin-top: 50px;
  margin-bottom: 50px;
}
.heading {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.form {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 500px;
  margin: 0 auto;
}
